fastapi
uvicorn
pydantic
dotenv
PyJwt
types-PyJWT
jinja2

sqlmodel
# Database drivers (pilih sesuai kebutuhan, jangan install semua kecuali diperlukan)
# asyncmy # MySQL driver
# asyncpg # PostgreSQL driver
# aiosqlite # SQLite driver