fastapi
uvicorn
pydantic
dotenv
PyJwt
types-PyJWT

sqlmodel
# Database drivers (pilih sesuai kebutuhan, jangan install semua kecuali diperlukan)
# pymysql asyncmy # MySQL driver
# psycopg2-binary asyncpg # PostgreSQL driver
# aiosqlite # SQLite driver